.app {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.app__process,
.app__modes {
  width: 100%;
  display: flex;
}
.app__modes {
  padding-top: 20px;
}
.app__input,
.app__result {
  width: 30%;
}
.app__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1.34375em;
  margin: 0 40px;
}
.app__result__textarea,
.app__result {
  height: 100%;
}
.app__settings__transposition__button,
.app__settings__shift-input {
  margin: 5px;
}
