<div class="app">
  <div class="app__process">
    <mat-form-field class="app__input" appearance="fill">
      <mat-label>Input text to encrypt/decrypt</mat-label>
      <textarea #inputTexarea [rows]="8" matInput> </textarea>
    </mat-form-field>
    <div class="app__buttons">
      <button
        (click)="encrypt(inputTexarea.value)"
        mat-raised-button
        color="primary"
        class="app__encrypt"
      >
        Encrypt
      </button>
      <button
        (click)="encrypt(inputTexarea.value, true)"
        mat-raised-button
        color="warn"
        class="app__decrypt"
      >
        Decrypt
      </button>
    </div>
    <mat-form-field class="app__result" appearance="fill">
      <mat-label>Result</mat-label>
      <textarea
        #resultTexarea
        [value]="resultValue"
        class="app__result__textarea"
        disabled
        [rows]="8"
        matInput
      >
      </textarea>
    </mat-form-field>
    <div class="app__buttons">
      <button
        mat-raised-button
        color="accent"
        (click)="copyToClipboard(resultTexarea.value)"
      >
        Copy result
      </button>
    </div>
  </div>
  <div class="app__modes">
    <button (click)="this.mode = 1" [disabled]="this.mode === 1" mat-button>
      Caesar Cipher
    </button>
    <button (click)="this.mode = 2" [disabled]="this.mode === 2" mat-button>
      Transposition Cipher
    </button>
    <button (click)="this.mode = 3" [disabled]="this.mode === 3" mat-button>
      To Binary
    </button>
    <button (click)="this.mode = 4" [disabled]="this.mode === 4" mat-button>
      Use All
    </button>
  </div>
  <div class="app__settings">
    <mat-form-field
      *ngIf="this.mode === 1 || this.mode === 4"
      class="app__settings__shift-input"
      appearance="fill"
    >
      <mat-label>Input shift</mat-label>
      <input matInput type="text" type="number" [(ngModel)]="shiftValue" />
    </mat-form-field>
    <div
      *ngIf="this.mode === 2 || this.mode === 4"
      class="app__settings__transposition"
    >
      <button
        class="app__settings__transposition__button"
        mat-raised-button
        color="accent"
        (click)="this.transpositionMode = 1"
        [disabled]="this.transpositionMode === 1"
      >
        Transposition by words
      </button>
      <button
        class="app__settings__transposition__button"
        mat-raised-button
        color="accent"
        (click)="this.transpositionMode = 2"
        [disabled]="this.transpositionMode === 2"
      >
        Full transposition
      </button>
    </div>
  </div>
</div>
